/* #newSect{
    float: left;
    padding: 0px 100px;
}

#updateLogForm{
    padding: 0px 100px;
}

#storedLogs{
    text-align: center;
} */

body{
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(to bottom, #99ccff 0%, #5b97d3 100%); */
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
#note{
    display: inline;
    font-size: 12px;
}
input{
    width: 90%;
    /* border: none; */
}
input[type=submit] {
    background-color: #f1f16d; 
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#logNumField{
    background: none;
    font-size: 14px;
}

#totalLogs{
    width: 50px;
}

select{
    height: 30px;
}

#specificDestination{
    width: 25%;
    padding: 10px 4px;
}
#getLogInput{
    width: 50%
}

/* stlying the input boxes */
input[type=text] {
    padding: 9px 4px;
    margin: 2px 0px;
    box-sizing: border-box;
}

/* remove border around log number field */
#logNumField{
    border: none;
    width: 25%;
}

#bigContainer{
    width: 100%;
    display: grid;
    grid-template-areas: 
        "splashCont"
        "gridCont";
    grid-template-rows:  1fr;
    grid-template-columns: 1fr;
}

.splashCont{
    /* Create the parallax scrolling effect */
    height: 100vh;
    background-image: url("berlin.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splashCont img{
    width: 100px;
    /* float: right; */
    padding: 10px 20px;
}

.gridCont{
    width: auto;
    display: grid;
    grid-template-areas: 
        "newSect updateSect"
        "storedLogs notification"
        "content content";
    grid-template-rows:  auto;
    /* column-gap: 40px; */
    grid-template-columns: 0.5fr 0.5fr;

    padding-top: 50px;
    background-color: #fafafa;
}

#notification{
    grid-area: notification;
    margin: 20px 60px;
    /* background: rgb(172, 225, 231); */
    background: #f1f16d;
    padding: 6px;
}
#newSect{
    grid-area: newSect;
    margin: 0px 60px;
}
#updateSect{
    grid-area: updateSect;
    margin: 0px 60px;
}
#storedLogs{
    grid-area: storedLogs;
    /* text-align: center; */
    margin: 0px 60px;
}
#content{
    grid-area: content;
    margin: 0px 15px;
}

/* styling the splash screen */
.travelLog{
    font-size: 60px;
}

#boxArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    /* creating a transparent background making text easier to read */
    background: #e5e3e3ad;
    padding: 10px 70px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

#boxArea p{
    font-size: 30px;
}



